<%- include('partials/header') %>

  <div id="error-container">
    <h1>404</h1>
    <p>Page non trouvée</p>
    <button class="btn-container btn-homepage"><a href="/">Retour à l'accueil</a></button>
  </div>

<%- include('partials/footer') %>