/* GRAND ÉCRAN - Bureau / Desktop */
@media screen and (min-width: 1280px) {
  header button {
    display: none;
  }

  header ul {
    display: flex;
    gap: 2rem;
  }

  #product article img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  #shop-container .shop-location img {
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

   #catalog .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 5rem;
    padding: 1rem;
  }
}

/* ÉCRANS MOYENS - Tablettes / Moyens laptops */
@media screen and (min-width: 650px) and (max-width: 1279px) {
  #catalog .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 5rem;
  }
}

/* PETITS ÉCRANS - Mobiles, tablettes portrait */
@media screen and (max-width: 649px) {
  #catalog .articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 5rem;
  }

  #articles-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  #articles-list article {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  #articles-list.only-display-3-articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  #articles-list.only-display-3-articles article {
    width: 100%;
  }
}

/* RESPONSIVE PRÉSENTATION & HEADER (jusqu'à 1279px) */
@media screen and (max-width: 1279px) {
  #presentation-container img {
    display: none;
  }

  #presentation-container {
    padding: 3rem;
  }

  .new-arrivals__details {
    flex-direction: column;
    gap: 2rem;
  }

  header ul {
    display: none;
  }

  header button {
    display: block;
  }

  header nav.expanded ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }

  #product article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  #shop-container .shop-location img {
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/* PRÉSENTATION ET CATALOGUE - Mobiles et tablettes portrait */
@media screen and (max-width: 768px) {
  #presentation-container {
    flex-direction: column;
    padding: 2rem;
  }

  .new-arrivals__details {
    flex-direction: column;
    height: auto;
  }

  .new-arrivals__item {
    margin: 1rem 0;
  }

  header nav.expanded {
    width: 100vw;
  }
}
